:root {
  /*colours */
  --mint-green: #d7fff1ff;
  --light-green: #aafcb8ff;
  --light-green-2: #8cd790ff;
  --cambridge-blue: #77af9cff;
  --castleton-green: #285943ff;
  --cordovan: #984447ff;
  --french-gray: #b9c0daff;
  --sunglow: #ffd23fff;
  --yinmn-blue: #3c4f76ff;
  --cal-poly-green: #105200ff;

  /* End of colours */

  /* Site Colour scheme */
  --clr-darkest: var(--castleton-green);
  --clr-darker: var(--cal-poly-green);
  --clr-dark: var(--yinmn-blue);
  --clr-main: var(--cambridge-blue);
  --clr-light: var(--light-green-2);
  --clr-lighter: var(--light-green);
  --clr-lightest: var(--mint-green);
  --clr-highlight: var(--sunglow);
  --clr-shadow: var(--french-gray);
  --clr-contrast: var(--cordovan);
  /* End of Site Colour scheme */

  /* Site fonts & Sizes */

  --fnt-number: 'Cormorant Upright', serif;
  --fnt-text: 'Roboto Flex', sans-serif;
  font-size: 24px;
  font-family: var(--fnt-text);

  /* End of Site fonts & Sizes */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--clr-darkest);
  color: var(--clr-lighter);
}

body {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark);
}

h1 {
  font-family: var(--fnt-text);
  color: var(--clr-light);
  font-size: 0.75rem;
}

.container {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  padding: 1%;
  color: var(--clr-lighter);
  display: flex;
  /* border-radius: 0.2rem; */
  background-color: var(--clr-dark);
}

.left {
  width: 60%;
  padding: 20px;
}

.right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 9px;
  background-color: var(--clr-darker);
  border-radius: 3%;
  margin: 1rem 0.5rem;
}

.right .today-date {
  width: 100%;
  /* height: 50px; */
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.today-date .event-day,
.today-date .event-date {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--clr-lightest);
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  color: var(--clr-lighter);
  border-radius: 3%;
  background-color: var(--clr-darker);
}

.calendar::before,
.calendar::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: var(--clr-light);
  transform: translateY(-50%);
}

.calendar::before {
  content: '';
  height: 94%;
  left: calc(100% + 12px);
  background-color: var(--clr-lightest);
}

.calendar .month {
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--fnt-number);
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--clr-highlight);
}

.footer-img {
  height: 20px;
  /* width: 100px; */
  border-radius: 50%;
  border: var(--clr-highlight);
}

.calendar .weekdays {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: var(--fnt-text);
  font-size: 1rem;
  font-weight: 450;
}

.calendar .weekdays .weekday {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 13%;
  font-family: var(--fnt-number);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--clr-lighter);
  border: 1px solid var(--clr-light);
  border-radius: 12%;
  margin: 0.5% 0.5% 0.5% 0.5%;
}

.calendar .day:not(.prev-date, .next-date, .not-working):hover {
  color: var(--clr-main);
  background-color: var(--clr-contrast);
}

.calendar .days .prev-date,
.calendar .days .next-date,
.calendar .days .not-working {
  opacity: 50%;
  cursor: not-allowed;
}

.calendar .days .active {
  position: relative;
  font-size: 1.5rem;
  background-color: var(--clr-lightest);
  color: var(--clr-darkest);
}

.calendar .days .active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  margin-bottom: 15%;
  border-radius: 12px;
  box-shadow: 0 0 10px 8px var(--clr-shadow);
  font-size: 1.7rem;
}

.calendar .days .today {
  font-size: 1.8rem;
  color: var(--clr-contrast);
}

.calendar .days .event {
  position: relative;
  font-size: 1.3rem;
  box-shadow: 0 0 10px 4px var(--clr-lightest);
}
.calendar .days .event::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--clr-highlight);
}

.calendar .event:hover::after {
  background-color: var(--clr-highlight);
}

.calendar.active.event::after {
  background-color: var(--clr-highlight);
  bottom: 20%;
}
.calendar .active:hover::after {
  background-color: var(--clr-highlight);
  bottom: 20%;
}
.calendar .active .event {
  padding-bottom: 10%;
}

.goto-day {
  position: absolute;
  bottom: 0.2rem;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin: 0 5% 5% 5%;
  color: var(--clr-dark);
  border: 1px solid var(--clr-light);
  border-radius: 12px;
}

.goto-day .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 0.5rem;
  overflow: hidden;
  padding: 1%;
}
.date-input {
  width: 40%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--clr-darkest);
}

.cal-goto-btn {
  padding: 5px 10px;
  border: 1px solid var(--clr-light);
  border-radius: 12px;
  box-shadow: 0 0 4px 4px var(--clr-light);
  cursor: pointer;
}
.calendar .cal-goto-btn:hover {
  background-color: var(--clr-light);
  color: var(--clr-darkest);
}

.right .events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 2rem 0;
}

.right .events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: var(lighter);
  background: linear-gradient(90deg, var(--clr-darkest), #000000);
}

.events .event:nth-child(even) {
  background: transparent;
}

.events .event:hover {
  background: linear-gradient(90deg, var(--clr-lighter, transparent));
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 20px;
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.event .title i {
  color: var(--clr-lightest);
  font-size: 0.5rem;
}

.events .event:hover .title i,
.events .event:hover .event-time {
  color: #ffd23fff;
}

.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--clr-lightest);
  margin-left: 15px;
  pointer-events: none;
}

.events .event::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--clr-lightest);
  transform: translateY(-50%);
}

.event:hover::after {
  display: flex;
}

.right .events .no-event h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: var(--fnt-number); */
  font-size: 1rem;
  font-style: italic;
  font-weight: 450;
  color: var(--clr-lighter);
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--clr-dark);
  transform: translateX(-50%);
  transition: max-height 0.5s;
  color: var(--clr-highlight);
}
.add-event-wrapper.active {
  max-height: 300px;
}

.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--clr-dark);
}

.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-event-header .close:hover {
  color: var(--clr-lightest);
}

fieldset {
  font-size: 0.6rem;
  align-items: flex-start;
  border: none;
  margin: 2%;
}

.choices {
  display: flex;
}

.times {
  column-gap: 0.45rem;
  flex-direction: column;
}

input {
  margin-left: 0.25rem;
}

.event-name,
.event-time {
  font-size: 0.8rem;
  color: var(--clr-highlight);
  background: transparent;
  font-family: var(--fnt-number);
  margin: 10px 10px;
}

.event-time {
  width: 35%;
  column-gap: 10px;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* padding: 20px; */
}
/* 
.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
} */

.add-event-body .add-event-input input {
  /* width: 100%; */
  height: 100%;
  outline: none;
  border-radius: 10%;
  border: 1px solid var(--cal-poly-green);
  padding: 0 10px;
  /* font-size: 1rem;
  font-weight: 400; */
  color: var(--clr-lightest);
}

.add-event-body .add-event-input input::placeholder {
  color: var(--clr-highlight);
}

.add-event-body .add-event-input input:focus {
  border-color: var(--clr-highlight);
}

.add-event-body .add-event-input input:focus::placeholder {
  color: var(--clr-lightest);
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0.5rem;
}

.add-event-bye {
  box-shadow: 0 0 4px 4px var(--clr-highlight);
  border: 1px solid var(--clr-highlight);
}

.add-event-bye:hover {
  background-color: var(--clr-highlight);
  color: var(--clr-darkest);
}

.events-footer {
  position: absolute;
  bottom: 0.2rem;
  width: 90%;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

.events-footer .cal-goto-btn {
  opacity: 0.7;
}

.events-footer .add-event-btn:hover,
.events-footer .edit-event-btn:hover,
.events-footer .close-event-btn:hover {
  opacity: 1;
}
.events .event-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.event-details .event-time {
  color: var(--clr-highlight);
  width: 100%;
}

.events .event .event-graphic {
  border-radius: 50%;
  background-color: var(--clr-lightest);
  color: var(--clr-darkest);
  height: 1rem;
  width: 1.5rem;
  line-height: 1rem;
  font-size: 0.5rem;
  /* align-items: center;
  justify-content: center; */
  margin: 0.2rem;
  text-align: center;
}

.add-event-wrapper .add-event-header .event-date {
  font-size: 0.5rem;
}
